//position X
.pt0{
    top: 0%;
}
.pt05{
    top: 5%;
}
.pt1{
    top: 10%;
}
.pt2{
    top: 20%;
}
.pt3{
    top: 30%;
}
.pt4{
    top: 40%;
}
.pt5{
    top: 50%;
}
.pt6{
    top: 60%;
}
.pt7{
    top: 70%;
}
.pt8{
    top: 80%;
}
.pt9{
    top: 90%;
}
.pt10{
    top: 100%;
}


//position Y
.pl0{
    left: 0%;
}
.pl05{
    left: 5%;
}
.pl1{
    left: 10%;
}
.pl2{
    left: 20%;
}
.pl3{
    left: 30%;
}
.pl4{
    left: 40%;
}
.pl5{
    left: 50%;
}
.pl6{
    left: 60%;
}
.pl7{
    left: 70%;
}
.pl8{
    left: 80%;
}
.pl9{
    left: 90%;
}
.pl10{
    left: 100%;
}