* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}
a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}
select {
    /* Reset Select */
    appearance: none;
    outline: 0;
    border: 0;
    box-shadow: none;
    /* Personalize */
    flex: 1;
    padding: 0 1em;
    color: #fff;
    background-color:#19202b;
    background-image: none;
    cursor: pointer;
  }

  ul, ol {
    margin: 0;
    padding: 0;
    list-style: none;
    
    li{
      text-decoration: none;
    }
  }
